.THIS th{
    background: white;
  position: sticky!important;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index:1000;
}

.THIS table{
    position:sticky;
}

.THIS tbody th,.THIS th.trow{
    background: white;
  position: sticky!important;
  left: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index:1000;
}