.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .field {
    padding: 5px;
    border: 1px solid #dce4ec;
    border-radius: 2px;
}

.THIS .inputRight input {
    text-align: right;
}

.THIS .tallTextArea textarea {
		height: 4rem;
    }

.THIS .label-hidden > label {
    display: none;
}