.THIS  header{
    text-align:center;
}

.THIS .btn-full-width{
    width:100%;
    padding:0.5rem;
}

.THIS .slds-card__body_inner{
    padding-left:5rem;
    min-height:250px;
}


.THIS .slds-card__body ul{
    line-height:2rem;
}

.THIS .slds-card__body li.head{
    font-weight:bold;
    color:black;
   
}

.THIS .slds-card__body ul{
    margin-bottom:2rem;
}