.THIS  header{
    text-align:center;
}

.THIS .btn-full-width{
    width:100%;
    padding:0.5rem;
}


.THIS .slds-card__body_inner{
    padding-left:5rem;
     min-height:250px;
}

.THIS .icon-check .path2:before{
    color:black !important;
    font-size:21px;
}


.THIS .icon-check{
    position:relative;
    top:7px;	
}

.THIS .slds-card__body ul{
    line-height:3rem;
}