.THIS .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: solid;
}

.THIS .circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    padding-top: 10px;
}

.THIS .number {
    font-size: 40px;
    font-family: inherit;
    font-weight: 500;
    color: #666666;
}

.THIS .number1 {
    font-size: 40px;
    color: #006dff;
    font-family: inherit;
    font-weight: 500;
}

.THIS .rectangle {
    width: 800px;
    height: 150px;
    border-style: solid;
    border-color: white;
    position: relative;
}

.THIS .circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: solid;
    border-color: #006dff;
    position: absolute;
    top: 20px;
    left: 60px;
}

.THIS .circle2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: solid;
    margin-left: 135px;
    position: absolute;
    top: 20px;
    left: 130px;
    border-color: #666666;
}

.THIS .circle3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: solid;
    margin-left: 270px;
    position: absolute;
    top: 20px;
    left: 190px;
    border-color: #666666;
}

.THIS .circle4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: solid;
    margin-left: 405px;
    position: absolute;
    top: 20px;
    left: 250px;
    border-color: #666666;
}

.THIS .renouvellement {
    padding-top: 110px;
    position: absolute;
    padding-left: 50px;
    font-family: inherit;
    font-weight: 500;
    color: #666666;
    font-size: 16px;
}

.THIS .rendezvous {
    padding-top: 110px;
    position: absolute;
    padding-left: 230px;
    font-family: inherit;
    font-weight: 500;
    color: #666666;
    font-size: 16px;
}

.THIS .Mode {
    padding-top: 110px;
    position: absolute;
    padding-left: 430px;
    font-family: inherit;
    font-weight: 500;
    color: #666666;
    font-size: 16px;
}

.THIS .Paiement {
    padding-top: 110px;
    position: absolute;
    padding-left: 660px;
    font-family: inherit;
    font-weight: 500;
    color: #666666;
    font-size: 16px;
}