.THIS .flowFooter {
    background-color: #f3f2f2 !important;
}

.THIS .slds-global-header {
    height: 150px;
}

.THIS .slds-scrollable_x {
    overflow: visible;
}

.THIS {
    background-color: #fff;
}

.THIS .scrollable {
    height: 400px;
    overflow-y:auto;
}

.THIS .color {
    color: blue;
}