.THIS .title-icon svg {
    padding-left: 8px;
    width: 2rem;
    height: 2rem;
    fill: #006dff;   
}
.THIS .text-bold {
    font-weight: bold;
}

.THIS .chkbox-label-bold .slds-form-element__label{
    font-weight: bold;
    color: #1a1a1a;
}

 .THIS .nav-text .slds-nav-vertical__action_overflow[aria-expanded="false"] lightning-primitive-icon svg{
    position: absolute;
    left: 90px;
    top: 10px;
    fill: #006dff;
    transform: rotate(90deg);
}

.THIS .nav-text .slds-nav-vertical__action_overflow[aria-expanded="true"] lightning-primitive-icon svg {
    position: absolute;
    left: 90px;
    top: 10px;
    fill: #006dff;
    transform: rotate(270deg);
}


.THIS .nav-text .slds-nav-vertical__action{
    padding: .5rem 1.5rem .5rem 0rem;
    box-shadow: none;
}

.THIS .nav-text .slds-nav-vertical__action-text{
    visibility: hidden;
  
}
.THIS .nav-text .slds-nav-vertical__action-text::before{
    content: "En savoir plus";
    visibility: visible;
    color: #006dff;
}