.THIS {
    font-family: 'Frutiger LT Std';
    color: #1a1a1a;
}

.THIS .text-color-weak {
    color: #666666;
}

.THIS .title {
    color: #005bbb;
    font-weight: normal;
    line-height: 19px;
}

.THIS .text-bold {
    font-weight: bold;
}

.THIS .title-big {
    font-size: 1.5rem;
}

.THIS .title-med {
    font-size: 1rem;
}

.THIS .modal-content {
    min-height: 700px;
    max-height: 1000px;
}

.THIS .icon-active {
    color: #006dff;
}

.THIS .icon-close .icon-active {
    width: 2rem !important;
    height: 2rem !important;
}

.THIS .icon-close {
    text-align: right;
    position: relative;
    top: -15px;
    right: -15px;
}