.THIS .captcha-error {
    border: 1px solid rgb(194, 57, 52);
}

.THIS .has-error {
    color: rgb(194, 57, 52);
}

.THIS .error-box {
    border: 1px solid rgb(194, 57, 52);
    color: rgb(194, 57, 52);
}