.THIS {
}

.THIS .max-height-overflow {
    overflow-y: scroll;
    max-height: 24rem;
}

.THIS .spinner-static .slds-spinner {
    position: relative;
}

.THIS .small-btn {
    padding: 0px 3px 0px 3px;
}

.THIS .btn-two-line {
    width: 5rem;
    line-height: 1rem;
}

.THIS .dt-half dd {
    width: 50%;
}
.THIS .dt-half dt {
    width: 50%;
}