.THIS .icon {
    position: relative;
    top: 15px;
}

.THIS .line1 {
    position: relative;
    top: 55px;
    left: 20px;
}

.THIS .line2 {
    position: relative;
    top: 55px;
    right: 20px;
}

.THIS .linecolor {
    width: 137px;
    border: 1px solid #005bbb;
}

.THIS .square1 {
    /* position: absolute; */
    width: 434px;
    height: 394px;
    left: 335px;
    top: 142px;
    background: #ffffff;
    box-shadow: 0px 0px 20px #e5e5e5;
    border-radius: 5px;
}

.THIS .square2 {
    /* position: absolute; */
    width: 434px;
    height: 394px;
    left: 825px;
    top: 142px;
    background: #ffffff;
    box-shadow: 0px 0px 20px #e5e5e5;
    border-radius: 5px;
}

.THIS .btn-link {
    text-decoration: none;
    right: 2rem;
}

.THIS .titleStyle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1a1a1a;
}

.THIS .editBtn {
    font-weight: 500;
    font-size: 16px;
    color: #006dff;
    height: 20px;
}

.THIS .shadowBox {
    background: #ffffff;
    box-shadow: 0px 0px 20px #e5e5e5;
    border-radius: 5px;
}

.THIS .capitalizeWords {
    text-transform: capitalize;
}