.THIS .btn-link {
    text-decoration: none;
}

.THIS .slds-is-active {
    color: #006dff;
}

.THIS .slds-is-active::after {
    background-color: #006dff;
}

.THIS .font1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #1A1A1A;
}

.THIS .borderBottom {
    border-bottom: 1pt solid #e6e6e6;
}

.THIS .headerBorderBottom {
    border-bottom: 1pt solid #959595;
}

.THIS .borderRight {
    border-right: 1pt solid #959595;
}

.THIS .position {
    padding: 15px;
    vertical-align: top;
}

.THIS .header{
    position: sticky;
    top:0;
    z-index: 2;
    background-color: white;
}

.THIS .tableExpanded {
    height: 755px;
    overflow-y: auto;
}

.THIS .tableCollapsed {
    height: 410px;
}

.THIS .btnAfficherPlus {
    margin-top: 1rem;
    border-color: #006dff;
}

.THIS .page-title {
    color: #005bbb;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.THIS .col1 {
    font-family: sans-serif;
    font-size: 32px;
}
.THIS .col2 {
    font-family: sans-serif;
    font-size: 23px;
    color: #1a1a1a;
}

.THIS .width9 {
    width:9rem;
}

.THIS .width15 {
    width:15rem;
}

.THIS .chamColor svg {
    fill : #006dff
}

.THIS .positionRight {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.THIS .chamBlue {
    color: #005bbb;
}

.THIS .btnRetourAccueil {
    background-color: #006dff;
    color: white;
    border-color: #006dff;
}

.THIS .capitalizeWords {
    text-transform: capitalize;
}