.THIS .pagination-txt {
    line-height: 1.875rem;
}
.THIS .row-orange {
    background-color: orange;
}

.THIS .row-orange:hover {
    background-color: orange !important;
}

.THIS .txt-desc {
    font-size: 15px;
}