<apex:page showHeader="false">
    <html>
      <head>
        <title>reCAPTCHA demo: Explicit render after an onload callback</title>
        <script type="text/javascript">
          var verifyCallback = function(response) {
              parent.postMessage(response, "{!$Label.CommunityURL}");
          };
          var onloadCallback = function() {
              grecaptcha.render('html_element', {
                  'sitekey' : '{!$Label.CaptchaKey}',
                  'callback' : verifyCallback,
                  
                  'theme': 'light'
              });
          };
          window.onmessage = function(e){
                if(e.data == "reset") {
                    console.log("recaptcha reset");
                    grecaptcha.reset();
                }
            }
        </script>
      </head>
      <body>
        <form action="?" method="POST">
          <div id="html_element"></div>
            <br/>
            <input type="submit" value="Submit" style="display:none"/>
        </form>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async="" defer="">
        </script>
      </body>
    </html>
</apex:page>