<!--
  @description       : 
  @author            : ZJO
  @group             : 
  @last modified on  : 11-03-2020
  @last modified by  : ZJO
  Modifications Log 
  Ver   Date         Author   Modification
  1.0   09-11-2020   ZJO   Initial Version
-->
<apex:page applyHtmlTag="false" showHeader="false" standardStylesheets="false" controller="VFC10_Devis" renderAs="pdf" docType="html-5.0">

   <html>

    <head>
        <style>
            @media print {
                table tr.qliRow>td {
                    /* border-bottom: 1px solid red !important;
                    color: green; */
                    padding-bottom: 10px;
                    border-bottom: 1px solid black !important;
                }
            }

            @media print {
                html,
                body {
                    border: 1px solid white;
                    /* height: 99%;               */
                    page-break-after: avoid;
                    page-break-before: avoid;
                }
            }

            @page {
                size: A4;
                margin-left: 1cm;
                margin-right: 1cm;
                margin-top: 1.0cm;
                margin-bottom: 2.50cm;
            }

            @page {
                @bottom-right {
                    content: element(footer);
                }
            }

            @page {
                @top-left {
                    content: element(header);
                }
            }

            #last_page {
                page: end_of_page;
                counter-increment: pages -3;
            }

            @page end_of_page {
                margin-left: 0.5cm;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            @page end_of_page {
                @bottom-right {
                    content: "";
                }
            }

            @page end_of_page {
                @top-left {
                    content: "";
                }
            }

            div.footer {
                display: block;
                position: running(footer);
                margin-bottom: 1.5cm;
            }

            div.header {
                display: block;
                padding: 0px;
                position: running(header);
                /* margin-left : 725px; */
                /* margin-left : 735px; */
                font-size: 7.5pt;
                font-family: Arial, Helvetica, sans-serif;
                /* text-align: left; */
            }

            .pagenumber:before {
                content: counter(page);
            }

            .pagecount:before {        
                content: counter(pages);
            }
        </style>
    </head>
  

    <body class="body" onload="myFunction()">

        <!-- <div style="float:left;margin-left:-15px;margin-top:-15px;"> -->
        <div class="header">
            <div style="text-align:center; font-family: Arial, Helvetica, sans-serif;font-size:15px;margin-bottom: 15px;">
                <p>DEVIS N° {!actualQuote.QuoteNumber__c} &nbsp;
                    <apex:outputText value="{0,date,dd/MM/yyyy}">
                        <apex:param value="{!actualQuote.Devis_etabli_le__c}" />
                        <!-- <apex:outputText value="{0,date,dd' 'MMMMM' 'yyyy}">
                                                <apex:param value="{!actualQuote.Devis_etabli_le__c}" /> 
                                            </apex:outputText> -->
                    </apex:outputText>
                </p>
            </div>
        </div>
        
        <div class="footer">
            <c:C00_HSRFooter st="{!actualQuote.Agency__r}" />
        </div>

        <div style="position: fixed;bottom: 15px;right: 30px;font-family: Arial,Helvetica, sans-serif;font-size:10px;">
                PAGE
                <span class="pagenumber" />/<span class="pagecount" />
        </div>

        <span class="slds-avatar slds-avatar--small">
            <apex:variable var="imageVar" value="{!actualQuote.Agency__r.Logo_Name_Agency__c}" />
            <apex:outputPanel rendered="{!actualQuote.Agency__r.Name != 'VB Gaz'}">
                <apex:image style="width:269px;height:102px;" value="{!URLFOR($Resource.LogosHSV, 'logoZip/' + imageVar + '.png' )}" rendered="{!NOT(ISBLANK(actualQuote.Agency__r.Logo_Name_Agency__c))}"
                />
            </apex:outputPanel>
            <apex:outputPanel rendered="{!actualQuote.Agency__r.Name == 'VB Gaz'}">
                <apex:image style="width:169px;height:102px;" value="{!URLFOR($Resource.LogosHSV, 'logoZip/' + imageVar + '.png' )}" rendered="{!NOT(ISBLANK(actualQuote.Agency__r.Logo_Name_Agency__c))}"
                />
            </apex:outputPanel>

            <!-- If no logo, holding the space for page layout-->
            <apex:outputPanel rendered="{!ISBLANK(actualQuote.Agency__r.Name)}">
                <div style="height: 100px; width: 300px; background-color: transparent">&nbsp;</div>
            </apex:outputPanel>
        </span>
        <!-- </div> -->

        <!-- Taille A5 pour l'enveloppe
                    1 inch = 2.54cm = 96px
                    
                    - Position
                    2 cm = 77,76px => right
                    4.5cm = 153.6px => top
    
                    - Dimension du cadre
                    9.4cm = 355.3px => width
                    3.8cm =144px => height
                -->
        
        <!-- Position:absolute;top:1.7in; left:4.42in; -->
        <div style="margin-left:450px;margin-top:70px;align: right;background-color:lightgray;font-size:15px;font-family: Arial, Helvetica, sans-serif;">
            <!-- <div style="padding-top: 25px; padding-left: 10px"> -->
            <!--{!actualQuote.Nom_du_payeur__r.Name} -->
            <div>{!IF(actualQuote.Nom_du_payeur__r.IsPersonAccount, actualQuote.Nom_du_payeur__r.Salutation+' '+actualQuote.Nom_du_payeur__r.Name, actualQuote.Nom_du_payeur__r.Raison_sociale__c)}</div>

            <div>{!actualQuote.Nom_du_payeur__r.BillingStreet}</div>
            <div>{!IF(cmpAddress!=null, cmpAddress , null)}</div>            

            <div style="text-align:left;">
                <span style="{!IF(ISBLANK(actualQuote.Nom_du_payeur__r.Imm_Res__c), 'display: none', 'display: inline')}">{!'Bât.: '+actualQuote.Nom_du_payeur__r.Imm_Res__c}</span>
                <span style="{!IF(OR(ISBLANK(actualQuote.Nom_du_payeur__r.Imm_Res__c), ISBLANK(actualQuote.Nom_du_payeur__r.Door__c)), 'display: none', 'display: inline')}">{!' '}</span>
                <span style="{!IF(ISBLANK(actualQuote.Nom_du_payeur__r.Floor__c), 'display: none', 'display: inline')}">{!'Etage: '+actualQuote.Nom_du_payeur__r.Floor__c}</span>
                <span style="{!IF(ISBLANK(actualQuote.Nom_du_payeur__r.Door__c), 'display: none', 'display: inline')}">{!'Porte: '+actualQuote.Nom_du_payeur__r.Door__c}</span>
            </div>
            {!actualQuote.Nom_du_payeur__r.BillingPostalCode} {!actualQuote.Nom_du_payeur__r.BillingCity}
        </div>
        <div style='color:black;font-size:15px;font-family: Arial, Helvetica, sans-serif; margin-top: 30px;margin-bottom:-15px; margin-left:15px;align: left;'>
            <div id='tableHeaderInfo' style="">
                <table width="100%" style="border:none;line-height:11px;">
                    <tr>
                        <td>DEVIS N° {!actualQuote.QuoteNumber__c}</td>
                    </tr>
                    <br/>
                    <tr>
                        <td>Le
                            <apex:outputText value=" {0,date, dd/MM/yyyy}">
                                <apex:param value="{!actualQuote.Devis_etabli_le__c}" />
                            </apex:outputText>
                        </td>
                    </tr>
                    <br/>
                    <tr>
                        <td style="padding-right:350px;">Objet : {!actualQuote.Objet_du_devis__c}</td>
                    </tr>
                    <br/>
                    <tr>
                        <td>Adresse de l’intervention :
                            <br/> {!IF(actualQuote.Logement__r.Inhabitant__r.Name !=null,actualQuote.Logement__r.Inhabitant__r.Salutation
                            + ' ' + actualQuote.Logement__r.Inhabitant__r.Name , actualQuote.Logement__r.Owner__r.Name)}
                            <br/> {!actualQuote.Logement__r.Street__c}
                            <br/>{!actualQuote.Logement__r.Adress_complement__c} <!-- 22/02/21 TCO- Ajout du champ complément adresse-->
                            <span style="display: block">{!actualQuote.Logement__r.Postal_code__c} {!actualQuote.Logement__r.City__c}</span>
                        </td>
                    </tr>
                    <br/>
                    <tr>
                        <td>Description du devis : <span style="display: block"> <apex:outputField value="{!actualQuote.Description}"/></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
        
        <!--<div style="page-break-after:always"></div>-->

        <!-- Table with condition on Remise%, RemiseEuro and PrixHTaprèsRemise -->
        <div id="tableDevisNormal" style='color:black;font-size:8.0pt;font-family: Arial, Helvetica, sans-serif'>
            <table width="100%" style="line-height:11px;border-collapse: collapse;padding:2%;">

                <tr>
                   <!-- <th align="center" style="word-wrap: break-word;width:1%;border:1px solid black;">
                        Référence
                    </th> -->
                    <th align="center" style="word-wrap: break-word;width:22%;border:1px solid black">
                        Libellé
                    </th>
                    <th align="center" style="word-wrap: break-word;width:4%;border:1px solid black;">
                        Qté
                    </th>
                    <th align="center" style="word-wrap: break-word;width:3%;border:1px solid black;">
                        P.U. HT
                    </th>
                    <th align="center" style='display:{!if(RemisePercent1,"","none")};word-wrap: break-word;width:3%;border:1px solid black;'>
                        Remise en %
                    </th>
                    <th align="center" style='display:{!if(RemiseEuro1,"","none")};word-wrap: break-word;width:3%;border:1px solid black;'>
                        Remise en €
                    </th>
                    <th align="center" style="word-wrap: break-word;width:5%;border:1px solid black;">
                        TOTAL HT
                    </th>
                    <th align="center" style="word-wrap: break-word;width:2%;border:1px solid black;">
                        TVA
                    </th>
                    <th align="center" style="word-wrap: break-word;width:3%;border:1px solid black;">
                        Total TTC
                    </th>
                </tr>
                <apex:repeat var="qli" value="{!lstQuoteLineItemsEP}">
                    <apex:outputText rendered="{!IF(CONTAINS(qli.Product2.ProductCode,'AIDE'),False,True)}">
                        <tr class="qliRow" style="page-break-inside: avoid;">
                           <!-- <td align="left" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputField value="{!qli.Product2.Reference_anonymisee__c}" />
                            </td> -->

                            <td align="left" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black;padding-top: 10px;" valign="center">
                                <apex:outputPanel rendered="{!NOT(ISBLANK(qli.Description__c))}">
                                    <b><apex:outputField value="{!qli.Description__c}" /> </b><br/> <br/>
                                </apex:outputPanel>
                                <b><apex:outputField value="{!qli.Product2.Name}" /></b>
                                <apex:outputPanel rendered="{!NOT(ISBLANK(qli.Product2.Designation_complementaire__c))}">
                                    <br/> <br/> <apex:outputField value="{!qli.Product2.Designation_complementaire__c}" />
                                </apex:outputPanel>            
                                <apex:outputPanel rendered="{!NOT(ISBLANK(qli.Product2.Eco_contribution__c))}">
                                    <br/> <br/> Dont éco-contribution :&nbsp;<apex:outputText value="{!qli.Product2.Eco_contribution__c}" /><apex:outputText value="{! IF((qli.Product2.Eco_contribution__c== null), '', '€') }" />
                                </apex:outputPanel>                                        
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputField value="{!qli.Quantity}" />
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                    <apex:param value="{! IF((qli.Prix_de_vente_force__c == null), qli.UnitPrice, qli.Prix_de_vente_force__c) }" />
                                </apex:outputText>&euro;
                            </td>

                            <td align="center" style='display:{!if(RemisePercent1,"","none")};word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black'
                                valign="center">
                                <apex:outputText value="{!qli.Remise_en100__c}" />
                                <apex:outputText value="{! IF((qli.Remise_en100__c == null), '', ' %') }" />

                            </td>

                            <td align="center" style='display:{!if(RemiseEuro1,"","none")};word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black'
                                valign="center">
                                <apex:outputText value="{!qli.Remise_en_euros__c}" />
                                <apex:outputText value="{! IF((qli.Remise_en_euros__c== null), '', '€') }" />

                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                    <apex:param value="{!qli.Prix_de_vente_apres_remise__c}" />
                                </apex:outputText>&euro;
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputField value="{!qli.Taux_de_TVA__c}" />
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                    <apex:param value="{!qli.Prix_TTC__c}" />
                                </apex:outputText>&euro;
                            </td>
                        </tr>
                    </apex:outputText>
                </apex:repeat>

                <apex:repeat var="qliMEO" value="{!lstQuoteLineItemsMEO}">
                    <apex:outputText rendered="{!IF(CONTAINS(qliMEO.Product2.ProductCode,'AIDE'),False,True)}">
                        <tr class="qliRow" style="page-break-inside: avoid; ">

                            <td align="left" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputField value="{!qliMEO.Product2.ProductCode}" />
                            </td>

                            <td align="left" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black;padding-top: 10px;" valign="center">
                                {!qliMEO.Product2.Name}
                                <apex:outputPanel rendered="{!NOT(ISBLANK(qliMEO.Product2.Designation_complementaire__c))}">
                                    <br/> {!qliMEO.Product2.Designation_complementaire__c}
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!NOT(ISBLANK(qliMEO.Description))}">
                                    <br/> {!qliMEO.Description}
                                </apex:outputPanel>
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputField value="{!qliMEO.Quantity}" />
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                    <apex:param value="{! IF((qliMEO.Prix_de_vente_force__c == null), qliMEO.UnitPrice, qliMEO.Prix_de_vente_force__c) }" />
                                </apex:outputText>&euro;
                            </td>

                            <td align="center" style='display:{!if(RemisePercent1,"block","none")};word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black'
                                valign="center">
                                <apex:outputField value="{!qliMEO.Remise_en100__c}" />
                                <apex:outputText value="{! IF((qliMEO.Remise_en100__c == null), '', ' %') }" />
                            </td>

                            <td align="center" style='display:{!if(RemiseEuro1,"block","none")};word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black'
                                valign="center">
                                <apex:outputField value="{!qliMEO.Remise_en_euros__c}" />
                                <apex:outputText value="{! IF((qliMEO.Remise_en_euros__c== null), '', '€') }" />
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                    <apex:param value="{!qliMEO.Prix_de_vente_apres_remise__c}" />
                                </apex:outputText>&euro;
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputField value="{!qliMEO.Taux_de_TVA__c}" />
                            </td>

                            <td align="center" style="word-wrap: break-word;border: none;
                                        border-right: 1px solid black;
                                        border-left: 1px solid black" valign="center">
                                <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                    <apex:param value="{!qliMEO.Prix_TTC__c}" />
                                </apex:outputText>&euro;
                            </td>
                        </tr>
                    </apex:outputText>
                </apex:repeat>
            </table>
        </div>

        <br/>

        <div id="2ndTb_1" style='color:black;font-size:8.0pt;font-family: Arial, Helvetica, sans-serif'>
            <apex:outputPanel rendered="{!IF(actualQuote.Aide_CEE__c == null,true,false)}">
                <table width="75%" align="center" style="line-height:11px;border-collapse: collapse;padding:2%;">
                    <tr class="qliRow" style="page-break-inside: avoid;">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TOTAL HT
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                <apex:param value="{!actualQuote.Prix_HT_apres_remise__c}" />
                            </apex:outputText>&euro;
                        </td>
                    </tr>
                    <tr class="qliRow" style="{!IF(NOT(totaltva55==0.00), '', 'display: none;')+' page-break-inside: avoid;'}">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TVA 5.5%:
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, number, ###,###,##0.00}€">
                                <apex:param value="{!totaltva55}" /> </apex:outputText>
                        </td>
                    </tr>
                    <tr class="qliRow" style="{!IF(NOT(totaltva10==0.00), '', 'display: none;')+' page-break-inside: avoid;'}">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TVA 10%:
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, number, ###,###,##0.00}€">
                                <apex:param value="{!totaltva10}" /> </apex:outputText>
                        </td>
                    </tr>
                    <tr class="qliRow" style="{!IF(NOT(totaltva20==0.00), '', 'display: none;')+' page-break-inside: avoid;'}">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TVA 20%:
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, number, ###,###,##0.00}€">
                                <apex:param value="{!totaltva20}" /> </apex:outputText>
                        </td>
                    </tr>
                    <tr class="qliRow" style="page-break-inside: avoid;">
                        <td align="right" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TOTAL TTC
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                <apex:param value="{!actualQuote.Prix_TTC__c}" />
                            </apex:outputText>&euro;
                        </td>
                    </tr>
                </table>
            </apex:outputPanel>

            <apex:outputPanel rendered="{!IF(actualQuote.Aide_CEE__c == null,false,true)}">
                <table width="75%" align="center" style="line-height:11px;border-collapse: collapse;padding:2%;">
                    <tr class="qliRow" style="page-break-inside: avoid;">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TOTAL HT
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                <apex:param value="{!actualQuote.Prix_HT_apres_remise__c}" />
                            </apex:outputText>&euro;
                        </td>
                    </tr>
                    <tr class="qliRow" style="{!IF(NOT(totaltva55==0.00), '', 'display: none;')+' page-break-inside: avoid;'}">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TVA 5.5%:
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, number, ###,###,##0.00}€">
                                <apex:param value="{!totaltva55}" /> </apex:outputText>
                        </td>
                    </tr>
                    <tr class="qliRow" style="{!IF(NOT(totaltva10==0.00), '', 'display: none;')+' page-break-inside: avoid;'}">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TVA 10%:
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, number, ###,###,##0.00}€">
                                <apex:param value="{!totaltva10}" /> </apex:outputText>
                        </td>
                    </tr>
                    <tr class="qliRow" style="{!IF(NOT(totaltva20==0.00), '', 'display: none;')+' page-break-inside: avoid;'}">
                        <td align="right" style="word-wrap: break-word;border: 1px; border-top: 1px solid black; border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TVA 20%:
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, number, ###,###,##0.00}€">
                                <apex:param value="{!totaltva20}" /> </apex:outputText>
                        </td>
                    </tr>
                    <tr class="qliRow" style="page-break-inside: avoid;">
                        <td align="right" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TOTAL TTC (avant prime de l’état)
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                <apex:param value="{!actualQuote.Montant_total_TTC_avant_aides__c}" />
                            </apex:outputText>&euro;
                        </td>
                    </tr>
                    <tr class="qliRow" style="page-break-inside: avoid;">
                        <td align="right" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            Butaprime réseau au titre du Dispositif Certificats Économies Énergie
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                <apex:param value="{!actualQuote.Aide_CEE__c}" />
                            </apex:outputText>&euro;
                        </td>
                    </tr>
                    <tr class="qliRow" style="page-break-inside: avoid;">
                        <td align="right" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black;padding-right: 5px;"
                            valign="top">
                            TOTAL TTC
                        </td>
                        <td align="center" style="word-wrap: break-word;border: none;border-right: 1px solid black;border-left: 1px solid black"
                            valign="top">
                            <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                                <apex:param value="{!actualQuote.Prix_TTC__c}" />
                            </apex:outputText>&euro;
                        </td>
                    </tr>
                </table>
            </apex:outputPanel>
        </div>

        <div style="font-size:15px;font-family: Arial, Helvetica, sans-serif; margin-top:15px; margin-left:15px;">
            <apex:outputPanel rendered="{!IF(actualQuote.Aide_CEE__c == null,false,true)}">
                <p>Prime Coup de Pouce Chauffage du dispositif CEE par Butagaz, nette de taxes.
                    <br/> Ce montant de&nbsp;
                    <apex:outputText value="{0, Number, ###,###,###,##0.00}">
                        <apex:param value="{!abs(actualQuote.Aide_CEE__c)}" />
                    </apex:outputText>&nbsp;&euro;&nbsp;&nbsp;est lié aux paramètres des travaux à retrouver sur
                    <br/>
                    <u style="color: blue;">https://www.ecologique-solidaire.gouv.fr/coup-pouce-chauffage-et-isolation</u>
                </p>
            </apex:outputPanel>
        </div>
        <!--<div style="page-break-after:always"></div>-->

        <div style='page-break-inside: avoid;'>
            <div style="font-size:15px;font-family: Arial, Helvetica, sans-serif; margin-left:15px;">
                <p>Date de validité : &nbsp;
                    <apex:outputText value="{0,date,dd/MM/yyyy}">
                        <apex:param value="{!actualQuote.ExpirationDate}" />
                    </apex:outputText>
                    <br/> Devis reçu avant exécution des travaux.
                </p>
            </div>
            <br/>
            <div style="font-size:15px;font-family: Arial, Helvetica, sans-serif; margin-left:15px; margin-top:10px;">
                <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" />⬜ Je renonce à mon délai de rétractation de 14 jours et souhaite que les travaux démarrent au plus vite.*
            </div>

            <div style="font-size:12px;font-style: italic; font-family: Arial, Helvetica, sans-serif; margin-left:15px; margin-top:10px;">*Le droit de réLe droit de rétractation n'est pas applicable aux professionnels (à l'exception de ceux visés à l’article L.221-3 du Code de la consommation)</div>

            <div style="font-size:15px;font-family: Arial, Helvetica, sans-serif; margin-left:15px; margin-top:10px;">
                <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" /> Il s’agit d’une urgence, je demande une intervention dans les plus brefs délais.
            </div>
            <br/>
            <div style="font-size:15px;font-family: Arial, Helvetica, sans-serif; margin-left:15px;">
                <div>
                    <apex:outputPanel rendered="{!IF(actualQuote.Acompte_demande__c == false,false,true)}">
                        Acompte à verser : {!actualQuote.Montant_de_l_acompte_demande__c} €
                    </apex:outputPanel>
                    <br/>
                    <br/> Moyens de paiement acceptés : en ligne/virement/CB/chèque
                    <br/> Règlement à réception de facture, au terme des travaux
                    <br/> Besoin d’une solution de financement ? OUI
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" /> NON
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" />
                    
                    <apex:outputPanel rendered="{!actualQuote.Nom_du_payeur__r.IsPersonAccount}">
                        <br/>
                        Attestation TVA complétée ? OUI <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" /> 
                                                    NON <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" />
                    </apex:outputPanel>
                    <!-- Chèques
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!IF(actualQuote.Mode_de_paiement_de_l_acompte__c="
                        Chèque " , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}"/> CB
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!IF(actualQuote.Mode_de_paiement_de_l_acompte__c="
                        CB " , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}"/> Espèces
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!IF(actualQuote.Mode_de_paiement_de_l_acompte__c="
                        Espèces " , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}"/> Virement
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!IF(actualQuote.Mode_de_paiement_de_l_acompte__c="
                        Virement " , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}"/> -->
                    <br/> Souhaitez-vous conserver les pièces, éléments ou appareils remplacés ? OUI
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" /> NON
                    <apex:image style="margin-bottom:-4px;width:20px; height:20px;" value="{!URLFOR($Resource.VFP06_UnCheck)}" />
                    <br/>
                    <br/> Votre commande sera validée uniquement contre signature de ce devis et après encaissement de l’acompte.
                    <br/>
                    <br/> En signant le présent devis, je reconnais avoir lu et accepté les CGV.
                </div>
            </div>
            <br/>
            <div style="font-size:15px;font-family: Arial, Helvetica, sans-serif; margin-left:15px;">
                <br/> Bon pour accord, date, nom et signature :
                <br/>
                <div>
                    Le&nbsp;
                    <apex:outputText value="{0,date,dd/MM/yyyy}">
                        <apex:param value="{!actualQuote.Date_de_signature_du_client__c}" />
                    </apex:outputText>
                </div>
                <apex:outputPanel rendered="{!idSignature!='null'}">
                    <apex:image id="sig2" url="{!idSignature}" width="150px" />
                </apex:outputPanel>
            </div>
            <br/>
            <!-- <div style="font-size:15px;font-family: Arial; margin-left:15px;">
                    <p>IBAN {!actualQuote.Agency__r.IBAN__c}</p>
                    </div>    -->
        </div>


        <!-- TEC-150 Add CEFRA Doc Image -->
        <div id="last_page">            
            <!-- Document CGV -->
            <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CGV_VFP10_1.png' )}" width="100%" height="100%" />
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: -820px;margin-left: 367px;">{!actualQuote.Agency__r.Name} {!actualQuote.Agency__r.Legal_Form__c} au Capital de 
                <apex:outputText value="{0, Number, ###,###,###,##0}">
                  <apex:param value="{!actualQuote.Agency__r.Capital_in_Eur__c}" /> 
                </apex:outputText> &euro; 
            </div>
            <!-- <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: -820px;margin-left: 367px;">{!actualQuote.Agency__r.Street} {!actualQuote.Agency__r.Street2__c} </div>-->    
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 72px;margin-left: 272px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 2px;margin-left: 167px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 303px;margin-left: 168px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 17px;margin-left: 444px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 18px;margin-left: 97px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 166px;margin-left: 470px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: -665px;margin-left: 68px;word-wrap:break-word">immatriculée au RCS {! actualQuote.Agency__r.RCS__c} sous le numéro {! actualQuote.Agency__r.Siren__c}, dont le siège social est situé </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top:2px;margin-left: 68px;word-wrap:break-word"> {!actualQuote.Agency__r.street} {!actualQuote.Agency__r.Street2__c}, {!actualQuote.Agency__r.PostalCode}, {!actualQuote.Agency__r.City}. </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 2.5px;margin-left: 125px;word-wrap:break-word">de TVA Intracommunautaire: {! actualQuote.Agency__r.Intra_Community_VAT__c} («{!actualQuote.Agency__r.Name}»). </div>
            
            <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CGV_VFP10_2.png' )}" width="100%" height="100%" />
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: -785px;margin-left: 175px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 206px;margin-left: 65px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 18px;margin-left: 127px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 114px;margin-left: 66px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
  
            <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CGV_VFP10_3.png' )}" width="100%" height="100%" />
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: -785px;margin-left: 66px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 144px;margin-left: 66px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 148px;margin-left: 215px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 2px;margin-left: 495px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 16px;margin-left: 163px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 3.5px;margin-left: 240px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 16px;margin-left: 255px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 95px;margin-left: 66px;word-wrap:break-word">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 50px;margin-left: 425px;word-wrap:break-word">{!actualQuote.Agency__r.Name} sur simple demand. </div>
           
            <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CGV_VFP10_4.png' )}" width="100%" height="100%" />
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: -923px;margin-left: 465px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 0px;margin-left: 190px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 132.5px;margin-left: 361px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 46.5px;margin-left: 160px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 29px;margin-left: 66px;">{!actualQuote.Agency__r.Name} </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 16px;margin-left: 66px;"> {!actualQuote.Agency__r.Site_web__c } </div>
            <div style="font-size:13px;font-family: Arial, Helvetica, sans-serif; margin-top: 47.5px;margin-left: 325px;">{!actualQuote.Agency__r.Name}. </div>
            
            <!-- Document cerfa -->
            <apex:outputPanel rendered="{! AND(actualQuote.Nom_du_payeur__r.IsPersonAccount, actualQuote.Logement__r.Age__c == 'Plus_2ans')}">
                <div style="page-break-after: always"></div>
                <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CEFRA1New.png' )}" width="100%" height="100%" />
                <div style='margin-left:435px;margin-top:-202px;font-size:9px;font-family: Arial, Helvetica, sans-serif;'>
                    <apex:outputText value="{0,date,dd/MM/yyyy}">
                        <apex:param value="{!actualQuote.Devis_etabli_le__c}" />
                    </apex:outputText>
                </div>

                <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CEFRA2New.png' )}" width="100%" height="100%" />
                <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CEFRA3New.png' )}" width="100%" height="100%" />
            </apex:outputPanel>
        </div>

        <!-- //DMU To be replaced by Homeserve doc -->
        <!-- <apex:outputPanel rendered="{!IF(actualQuote.RecordType.DeveloperName == 'Devis_RTC',false,true)}">
                <apex:outputPanel rendered="{!CGV = 'CGV_PoseDepannageCG'}">
                    <div style="page-break-after:always;"> </div>
                    <apex:include pageName="CGV_PoseDepannageCG"/>
                </apex:outputPanel>
    
                <apex:outputPanel rendered="{!CGV = 'CGV_VisiteforfaitaireCG'}">
                    <div style="page-break-after:always;"> </div>
                    <apex:include pageName="CGV_VisiteforfaitaireCG"/>
                </apex:outputPanel>
            </apex:outputPanel> -->
    </body>

    </html>
</apex:page>