<!--
  @File Name          : VFP12_GenerateReport.page
  @Description        : 
  @Author             : AMO
  @Group              : 
  @Last Modified By   : RRJ
  @Last Modified On   : 3/20/2020, 2:05:13 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    04/03/2020   AMO     Initial Version
-->
<apex:page lightningStylesheets="false"
    standardController="ProductRequestLineItem" extensions="VFC12_GenerateReport" recordSetVar="ProductRequestLineItems" 
    showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <apex:includeScript value="/support/console/46.0/integration.js"/>   

    <apex:includeLightning />

    <div id="lightning" />

    <script>
        // window.open('https://cham-sf-prod--coredevv1.lightning.force.com/lightning/cmp/c__LC10_ProdReqLineItemOrder?ids={!lstSelectedRecs}');
        // console.log('##Set of Ids: {!lstSelectedRecs}');
        // $Lightning.use("c:LA10_ProdReqLineItem", function() {
        //     console.log('## App opened');
        //     $Lightning.createComponent(
        //         "c:LC10_ProdReqLineItemOrder",
        //         {
        //         },
        //         "lightning",
        //         function(cmp) {
        //             // hideSpinner();
                    
        //             console.log('## components loaded');
        //         }
        //     );
        // });

        // setTimeout(function(){ 
        //         testCloseTab();
        //     }, 3000
        // );
        console.log('#### sforce: ',sforce)
        // debugger;
        if(sforce.console.isInConsole()){
          sforce.one.navigateToList('{!filterId}',null,'ProductRequestLineItem');
          sforce.one.navigateToURL('/lightning/cmp/c__LC57_GenerateReportPrli?c__ids={!selectedRecords}&c__listviewid={!filterId}', true);
        }else{
          sforce.one.navigateToURL('/lightning/cmp/c__LC57_GenerateReportPrli?c__ids={!selectedRecords}&c__listviewid={!filterId}', true);
        }

        
        
        // function testCloseTab() {
        //     //First find the ID of the current tab to close it
        //     sforce.console.getEnclosingTabId(closeSubtab);
        // }
        
        // var closeSubtab = function closeSubtab(result) {
        //     //Now that we have the tab ID, we can close it
        //     var tabId = result.id;
        //     // sforce.console.closeTab(tabId);
        // };
    
    </script>
</apex:page>