<!--
  @description       : 
  @author            : AMO
  @group             : 
  @last modified on  : 09-03-2020
  @last modified by  : AMO
  Modifications Log 
  Ver   Date         Author   Modification
  1.0   09-03-2020   AMO   Initial Version
-->
<apex:page applyHtmlTag="false" showHeader="false" standardStylesheets="false" controller="VFC10_Devis" renderAs="pdf" docType="html-5.0">
<html>
    <body class="body">
        <div id="last_page">
            <apex:outputPanel rendered="{! AND(actualQuote.Nom_du_payeur__r.IsPersonAccount, actualQuote.Logement__r.Age__c == 'Plus_2ans')}">
                <div style="page-break-after: always"></div>
                <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CEFRA1.jpg' )}" width="100%" height="100%" />
                <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CEFRA2.jpg' )}" width="100%" height="100%" />
                <apex:image value="{!URLFOR($Resource.LogosHSV, 'logoZip/CEFRA3.jpg' )}" width="100%" height="100%" />
            </apex:outputPanel>
        </div>
    </body>
</html>
</apex:page>