<!--
  @File Name          : VFP38_Retractation.page
  @Description        : 
  @Author             : SHU
  @Group              : 
  @Last Modified By   : SHU
  @Last Modified On   : 18/11/2019, 09:03:42
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    05/11/2019          SHU                  Initial Version
-->
<apex:page showHeader="false" sidebar="false" standardStylesheets="false" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false">
    <head>
      <style type="text/css" media="print">
        @page {
            size:A4;
            margin-top: 1cm;
            margin-bottom: 1cm;
            margin-left: 1cm;
            margin-right: 1cm;
        }
        th, td {
            padding: 5px;
        }
      </style>        
    </head>
    <table border="0" cellspacing="0" cellpadding="0" style="text-align:left;font-size:13px;table-layout:fixed;width:100%;font-family:'Arial',sans-serif">
        <tr>
            <td colspan="2" valign="top">
                <img src="{!$Resource.LogoEDF}" alt="background image" />
            </td>
        </tr> 
        <tr>
            <td colspan="2" style="font-weight:bold;text-align:center;padding:5px;">
                <div style="text-align:center;">FORMULAIRE DE RÉTRACTATION</div>
                <div style="text-align:center;">Article L221-18 et suivants du Code de la consommation</div>             
            </td>
        </tr> 
        <tr>
            <td valign="top" colspan="2" style="font-style:italic;">
                <p>Veuillez compléter et renvoyer le présent formulaire <u>uniquement si vous souhaitez vous rétracter du Contrat.</u></p>
                
                <p style="padding-bottom:5px;">Modalités : </p>

                <div style="padding-left:30px;">
                    -&nbsp;&nbsp;&nbsp;&nbsp;Compléter et signer ce formulaire <br/>
                    -&nbsp;&nbsp;&nbsp;&nbsp;L’envoyer par courrier à l’adresse de l’Agence Cham indiquée dans les Conditions Particulières <br/>
                    -&nbsp;&nbsp;&nbsp;&nbsp;L’expédier au plus tard le quatorzième jour à partir de la conclusion du Contrat ou, si ce délai expire <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;normalement un samedi, un dimanche ou un jour férié ou chômé, le premier jour ouvrable suivant. <br/>
                </div> 
            </td>
        </tr> 
        <tr>
            <td valign="top" colspan="2">
                <p>Je vous notifie par la présente ma rétractation du Contrat portant sur la prestation de services ci-dessous :</p>   
            </td>
        </tr>         
        <tr>
            <td width="30%">
                <div>Formule de contrat souscrite :</div>
            </td>
            <td width="70%">
                <div>________________________________________________</div>
            </td>
        </tr>
        <tr>
            <td width="30%">
                <div>Souscrit le (date de signature du Contrat) : </div>
            </td>
            <td width="70%"> _ _ / _ _ / _ _ _ _</td>
        </tr>
        <tr>
            <td width="30%">
                <div>Nom du Souscripteur :</div>
            </td>
            <td width="70%">
                <div>________________________________________________</div>
            </td>
        </tr>
        <tr>
            <td width="30%">
                <div>Adresse du Souscripteur :</div>
            </td>
            <td width="70%">
                <div>________________________________________________</div>
            </td>
        </tr>
        <tr>
            <td width="30%">
                <div>N° de client :</div>
            </td>
            <td width="70%">
                <div>________________________________________________</div>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top">
                <div>Date : _ _ / _ _ / _ _ _ _</div>
            </td>           
        </tr>        
        <tr>
            <td colspan="2" valign="top">
                <div>Signature du Souscripteur :</div>
            </td>            
        </tr>               
        </table>


</apex:page>