<!--
  @File Name          : VFP38_ConditionParticuliere.page
  @Description        : 
  @Author             : SHU
  @Group              : 
  @Last Modified By   : AMO
  @Last Modified On   : 24/02/2020, 12:02:04
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    07/11/2019          SHU               Initial Version
-->
<apex:page showHeader="false" sidebar="false" standardStylesheets="false" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false" controller="VFC38_ConditionParticuliere">
    <head>
      <style type="text/css" media="print">
        @page {
            size:A4;
            margin-top: 1.0cm;
            margin-bottom: 1cm;
            margin-left: 0.5cm;
            margin-right: 0.5cm;

            @bottom-center {
             content: element(footer);
            }
        }
        div.footer {
            display: block; 
            padding: 0px;
            position: running(footer);
        }
      </style>        
    </head>
    <div class="footer" style="font-size:8px;font-style:italic;text-align:center;"> 
            <div style='color:#7e7e7e;font-family:"Arial",sans-serif;font-style: italic;'>
            {!w.agency.Corporate_Name__c} - {!w.agency.Legal_Form__c} au capital de {!ROUND(w.agency.Capital_in_Eur__c, 0)} € - Siège social : {!w.agency.Corporate_Street__c}, {!IF(w.agency.Corporate_Street2__c != null, w.agency.Corporate_Street2__c+', ',' ')}{!w.agency.Corporate_ZipCode__c} {!w.agency.Corporate_City__c} - RCS {!w.agency.Siren__c} {!w.agency.RCS__c} - {!w.agency.Professional_Indemnity_Insurance__c} - {!w.agency.Decennal_Inurance__c} - Couverture {!w.agency.Insurance_Cover__c}
        </div> 
    </div>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;font-family:'Arial',sans-serif">
        <tbody>
            <tr style="font-size:13px">
                <td colspan="5" rowspan="2" valign="top">
                    <img src="{!$Resource.LogoEDF}" alt="background image" />
                </td>
                <td colspan="13" valign="top" bgcolor="#253474">
                    <div style="color:white; text-align:center;padding:10px">
                        <b>
                            Contrat d’abonnement pour l’entretien des chaudières à
                            usage domestique
                        </b><br/>
                        utilisant les <b>combustibles gazeux</b>,
                        conforme à la norme NF X 50-010
                    </div>
                </td>
            </tr>
            <tr style="font-size:13px">
                <td colspan="13" valign="top">
                    <div style="font-weight:bold; color:#253474;padding:4px"> 
                        <div style="width:50%;text-align:left;float:left;"> Conditions Particulières </div>
                        <div style="text-align:right;"><u>Exemplaire Souscripteur</u></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;font-family:'Arial',sans-serif">
        <tbody>
            <tr  style="font-size:11px">
                <td width="6%" valign="top">
                        Entre
                </td>
                <td  width="38%" valign="top">
                        {!w.agency.Corporate_Name__c}  <br/>  
                        {!w.agency.Street}  <br/> 
                        <!-- {!w.agency.Street2__c}  <br/>  -->
                        {!w.agency.PostalCode} {!w.agency.City} 
                        <br/>
                        <br/>
                        <!-- <br/><br/><br/><br/><br/><br/> -->
                        Tél :  {!w.agency.Phone__c}<br/>
                        Mail : {!w.agency.Email__c}
                        <a href="mailto:cham-ville@groupecham.fr">
                            <!-- cham-ville@groupecham.fr -->
                        </a> <br/>
                        SIRET : {!w.agency.Siret__c} {!w.agency.Siren__c} <br/>
                        TVA : {!w.agency.Intra_Community_VAT__c} <br/>
                    <div style="text-align:right">
                        ci-après désigné <b>“le Prestataire”</b>
                    </div>
                </td>
                <td width="6%" valign="top">
                    et
                </td>
                <td width="50%" valign="top">
                     {!w.payeur.Name} <br/>
                    {!w.payeur.BillingStreet} <br/>
                    <!-- {!w.account.BillingCountry} <br/> -->
                    <span style="display:{!if(w.payeur.Adress_complement__c!=null,"block","none")};">
                        {!w.payeur.Adress_complement__c}<br/>
                    </span>
                    {!w.payeur.BillingPostalCode} {!w.payeur.BillingCity} <br/>
                    <br/>
                    <div style="font-size:11;"> 
                    <br/><br/><br/><br/><br/><br/>
                    Nom du client : {!w.account.Name}<br/>
                    Tél : {!IF(!isPersonAcc,ConPro.MobilePhone,w.account.PersonMobilePhone)} <br/>
                    Mail : {!IF(!isPersonAcc,ConPro.Email,w.account.PersonEmail)} <br/>
                    N° Client : {!w.account.ClientNumber__c} <br/>
                    N° Contrat : {!w.contractNumber} <br/>
                    N° Equipement : {!w.asset.IDEquipmenta__c} <br/>
                    </div>
                    <div style="text-align:center">
                        ci-après désigné <b>“le Souscripteur”</b>
                    </div>
                </td>
            </tr>
        </tbody>    
    </table>
    <br/>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;table-layout: fixed;font-family:'Arial',sans-serif">
         <tbody>
            <tr style="font-size:10px;">
                <td width="50%" valign="top">
                    Date d’édition :&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!w.dateEmission}" /> 
                                </apex:outputText>
                </td>
                <!-- <td  width="25%" valign="top" style="border:{!if(and(!showAddFacturation,!showAddAppareil),"none","1px solid")};border-right:0px;padding-left: 10px;">
                    <span style="display:{!if(showAddFacturation,"block","none")};">
                    Adresse de facturation :  <br/>
                    {!w.account.Name} <br/>
                    {!w.BillingStreet} <br/>

                    {!w.BillingPostalCode} {!w.BillingCity} <br/>
                    </span>
                </td> -->
                <td  width="50%" valign="top"  style="border:{!if(!showAddAppareil,"none","1px solid")};padding-left: 10px;" >
                    <span style="display:{!if(showAddAppareil,"block","none")};">
                    <b>Adresse de l’appareil :</b> <br/>
                    {!w.logement.Street__c}, {!w.logement.Postal_Code__c} {!w.logement.City__c} <br/>
                    <b>Nom et tél de l’occupant des lieux :</b> <br/>
                    {!w.logement.Inhabitant__r.Name}, {!w.account.PersonMobilePhone}  <br/>
                    </span>
                </td>
            </tr>
         </tbody>
    </table>
    <br/>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;table-layout: fixed;font-family:'Arial',sans-serif">
         <tbody>
            <tr style="font-size:9px">
                <td  width="50%" valign="top">
                    <div style="font-size:11px;font-weight:bold;color:#253474"> 1. Identification de l’appareil : {!w.asset.Equipment_type__c}</div>
                    <br/>
                    <!-- <div style="font-size:9px;font-weight:bold;"> <b>Chaudière</b>  </div> -->
                    <br/><br/>
                    <div style="font-size:8px;font-style:italic;">Le type d’appareil correspond au mode d’amenée d’air
                    comburant et <br/>d’évacuation des produits de combustion au
                    sens du rapport technique FD <br/>CEN/TR 1749 </div>
                </td>
                <td width="25%" valign="top" style="border: 1px solid black;border-right:0px;padding-left: 8px;">
                    Marque : {!w.asset.Brand_auto__c} <br/>
                    Modèle : {!w.asset.Model_auto__c} <br/>
                    Puissance (kW) : {!w.asset.Power_kW_auto__c}<br/>
                    Date de mise en service : {!w.asset.Date_de_premi_re_allumage__c} <br/>
                    Type (mode d’évacuation) : {!w.asset.Ducted_Mode__c} <br/>
                    Type de gaz : {!w.asset.Type_of_gaz__c} <br/>
                    N° de série : {!w.asset.SerialNumber} <br/>
                </td>
                <td width="25%" valign="top" style="border: 1px solid black;padding-left: 8px;">
                    <b>Si brûleur à air soufflé : </b> <br/>
                    Marque : {!w.asset.BurnerBrand__c} <br/>
                    Modèle : {!w.asset.BurnerModel__c} <br/>
                    Puissance (kW) :   {!w.asset.Burner_power_in_kw__c} <br/>
                    Date de mise en service :  {!w.asset.Burner_Installation_date__c}  <br/>
                    Type (mode d’évacuation) : {!w.asset.Ducted_Mode__c}  <br/>
                    Type de gaz : {!w.asset.Type_of_gaz__c}  <br/>
                    N° de série : {!w.asset.SerialNumber}  <br/>
                </td>
            </tr>
            <tr>
                <td colspan="18" valign="top">
                    <!-- <div style="font-size:10px;font-weight:bold;">OU si les infos sur la chaudière ne sont pas connues au moment de l’édition des CP (Cham Digital notamment) : </div> -->
                    <div style="font-size:11px;">Les informations sur l’appareil seront complétées lors de notre première visite et figureront sur le compte-rendu de celle-ci. </div>
                </td>
            </tr>      
            <tr>
                <td colspan="18" style="padding-top:1em;">
                    <div style="font-size:11px;font-weight:bold; color:#253474"> 
                        2. Outre les opérations et prestations prévues dans les Conditions Générales, le présent Contrat inclut lors de l’entretien annuel :
                    </div>
                </td>
            </tr>
         </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;table-layout: fixed;font-family:'Arial',sans-serif">
        <tbody>
            
            <tr> 
                <td width="44%" style="border-top:0.5px solid;border-left:0.5px solid;padding:3px;font-size:9px; ">
                    Un contrôle de la vacuité des systèmes d’amenée d’air et d’évacuation des produits de combustion des chaudières étanches de type C
                </td>
                <td width ="5%" style="border-top:0.5px solid;border-left:0.5px solid;border-right:0.5px solid;padding-left: 5px;font-size:9px; "> Oui </td>
                <td width ="5%" > &nbsp; </td>
                <td width ="33%" style="border-top:0.5px solid;border-left:0.5px solid;padding: 5px;font-size:9px; "> Vérification et purge des radiateurs  </td>
                <td width ="10%" rowspan="2" style="border-top:0.5px solid;border-left:0.5px solid;border-right:0.5px solid;border-bottom:0.5px solid;padding:8px;font-size:9px; "> Si nécessaire pour le contrat Total</td>
            </tr>
            <tr> 
                <td width="44%" style="border-top:0.5px solid;border-left:0.5px solid;border-bottom:0.5px solid;padding: 5px;font-size:9px; ">
                    Entretien des dispositifs externes à la chaudière (ballon, vase d’expansion et régulateur) 
                </td>
                <td width ="5%" style="border-top:0.5px solid;border-left:0.5px solid;border-right:0.5px solid;border-bottom:0.5px solid;padding:3px;font-size:9px; "> Oui </td>
                <td width ="5%"> &nbsp; </td>
                <td width ="33%" style="border-top:0.5px solid;border-left:0.5px solid;border-bottom:0.5px solid;padding: 5px;font-size:9px; "> Détartrage du corps de chauffe et/ou de l’échangeur sanitaire </td>
            </tr>  
        </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;font-family:'Arial',sans-serif">
        <tbody>      
            <tr >
                <td colspan="18" style="padding-top:1em;">
                    <div style="font-size:11px;font-weight:bold; color:#253474"> 
                        3. Conditions d’intervention du Prestataire pour un dépannage éventuel :
                    </div>
                    <div style="font-size:9px; "> 
                        Pour tout dépannage sur appel justifié, intervention les jours ouvrables pendant les heures d’ouverture, sauf cas de force majeure : <br/>
                        . au plus tard 48 heures après appel pour les pannes partielles de chauffage ou pannes d’eau chaude sanitaire,  <br/>
                        . au plus tard 24 heures après appel pour les pannes totales de chauffage (hors période de démarrage des installations de chauffage) <br/>
                    </div>
                </td>
            </tr>        

            <!-- Start of section 4 table -->
            <tr>
                <td colspan="20">
                <table cellspacing="0" cellpadding="0" width="100%" style="text-align:center;font-size:11px;font-family:'Arial',sans-serif;font-size:11px;border-bottom:0.5px solid;border-color:black;">
                    <tbody>
                        <tr >
                            <td colspan="20" style="padding-top:1em;">
                                <div style="font-size:11px;text-align:left;"> 
                                    <span style="color:#253474;font-weight:bold;">4. Prix de l’abonnement annuel : </span> il est fonction du contrat et des prestations retenues par le Souscripteur
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" valign="top" style="border-top:0.5px solid;border-left:0.5px solid;text-align:left;">
                                <div style="font-style:italic;color:#253474;">Choix du Souscripteur :</div><br/>
                                <div style="text-align:bottom;font-weight:bold;color:#253474;">Contrat principal : </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top:0.5px solid;border-left:0.5px solid;">
                                <div align="center" style="font-size:11px;font-weight:bold; color:#253474">
                                    Prix € HT
                                </div>
                            </td>
                            <td rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center" style="font-size:11px;font-weight:bold; color:#253474">
                                    <!-- Remise [Nom remise] de <span style="font-size:7px;">[date début à fin OU X ans]</span> -->
                                    {!nomRemise} {!valable}
                                </div>
                            </td>
                            <td rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div style="font-size:11px;font-weight:bold; color:#253474">
                                    Prix HT après remise
                                </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center" style="font-size:11px;font-weight:bold; color:#253474">
                                    TVA  %
                                </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div style="font-size:11px;font-weight:bold; color:#253474">
                                    <b>Montant € TTC</b>
                                </div>
                            </td>
                            <td width="25%" rowspan="6" valign="top" style="border-left: 0.5px solid; padding-left: 10px;text-align:left;font-size:9px;">
                                <div>
                                    <span style="font-size:9px;font-weight:bold; color:#253474">Durée de l’abonnement</span>
                                    : 1 an à compter de la date de prise d’effet du Contrat <br/><br/>
                                </div>
                                <div>
                                    <span style="font-size:9px;font-weight:bold; color:#253474">Révision de prix </span>
                                    : Le prix pourra être révisé par le Prestataire à la date
                                    anniversaire du Contrat conformément aux dispositions de
                                    l’Article 3 des Conditions Générales
                                </div>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                        <apex:repeat var="a" value="{!lstContractLineItem}">
                        <tr>
                            <td valign="center" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;text-align:left;">
                                <div style="color:#253474;">    
                                        <apex:outputText value="{!a.tech_nom_produit__c}"/>
                                </div>
                            </td>
                            
                            <td  valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <!-- {!ROUND(a.ListPrice, 2)} -->
                                <apex:outputField value="{!a.UnitPrice}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    <!-- {!ROUND(w.discount, 2)}% -->
                                    <apex:outputField value="{!a.Discount}" /> 
                                </div>
                            </td>
                            <!-- <td valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    ___, __
                                </div>
                            </td> -->
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                    <!-- {!ROUND(a.TotalPrice, 2)} -->
                                <apex:outputField value="{!a.TotalPrice}" /> 
                            </td>
                            <td  width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                            <!-- {!w.tax} -->
                                <apex:outputField value="{!currentServiceContract.Tax__c}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                {!ROUND(a.TotalPrice * (1+tax), 2)} €
                                <!-- <apex:outputField value="{!a.TECH_MontantTTC__c}" />  -->
                            </td>
                        </tr>
                        </apex:repeat> 

                        <tr>
                            <td colspan="6" valign="top" style="border-left: 0.5px solid;border-top: 0.5px solid;text-align:left;">
                                <div style="color:#253474;display:{!if(hasOptions,"block","none")};">
                                    <b>Options au Contrat :</b>
                                </div>
                            </td>
                        </tr>
                        <apex:repeat var="a" value="{!lstContractLineItemOptions}">
                        <tr>
                            <td valign="center" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;text-align:left;">
                                <div style="color:#253474;">    
                                        <apex:outputText value="{!a.tech_nom_produit__c}"/>
                                </div>
                            </td>
                            
                            <td  valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <!-- {!ROUND(a.ListPrice, 2)} -->
                                <apex:outputField value="{!a.UnitPrice}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    <!-- {!ROUND(w.discount, 2)}% -->
                                    <apex:outputField value="{!a.Discount}" /> 
                                </div>
                            </td>
                            <!-- <td valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    ___, __
                                </div>
                            </td> -->
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                    <!-- {!ROUND(a.TotalPrice, 2)} -->
                                <apex:outputField value="{!a.TotalPrice}" /> 
                            </td>
                            <td  width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                            <!-- {!w.tax} -->
                                <apex:outputField value="{!currentServiceContract.Tax__c}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;border-right: 0.5px solid;">
                                {!ROUND(a.TotalPrice * (1+tax), 2)} €
                                <!-- <apex:outputField value="{!a.TECH_MontantTTC__c}" />  -->
                            </td>
                        </tr>
                         </apex:repeat> 
                        <tr>
                            <td rowspan="2" colspan="5" valign="top" style="border-top: 0.5px solid;font-size:11px;font-weight:bold; " >
                                <div style="color:#253474;" align="right">
                                    <b>Total à régler</b>
                                </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;border-right: 0.5px solid;font-size:11px;font-weight:bold;">
                                <div style="color:#253474;" align="center">
                                    <!-- <b>{!ROUND(w.grandTotal, 2)} €</b> -->
                                    <b><apex:outputField value="{!currentServiceContract.GrandTotal}"/></b>
                                </div>
                            </td>
                        </tr>

                        <tr colspan="20"></tr>
                        
                        <tr>
                            <td colspan="8" valign="top" style="font-size:12px;border-top: 0.5px solid;border-left: 0.5px solid;border-right:0.5px solid;">
                                <div align="left">
                                    <span style="font-weight:bold;color:#253474;">Mode de paiement choisi</span> par le Souscripteur :
                                </div>
                                <div style="text-align:center;margin-bottom:10px;">
                                    <apex:image value="{!IF(w.modeDePaiement == 'Prélèvement' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Prélèvement automatique* &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'Virement' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Virement** &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'CB' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Carte bancaire*** &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'Chèque' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Chèque &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'Espèces' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Espèces****
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="border-left: 0.5px solid;text-align:left;font-size:9px;">
                                * Paiement mensuel : par prélèvement automatique uniquement
                            </td>
                            <td colspan="4" width="40%" style="border-right: 0.5px solid;text-align:left;font-size:9px;">
                                ** Nous contacter
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="border-left: 0.5px solid;text-align:left;font-size:9px;">
                                *** Uniquement en agence ou lors d’une souscription/reconduction de contrat par internet 
                            </td>
                            <td colspan="4" width="40%" style="border-right: 0.5px solid;text-align:left;font-size:9px;">
                                **** Uniquement en agence pour un montant maximum de 1.000 euros
                            </td>
                        </tr>        
                    </tbody>
                </table> 
                </td>
            </tr>
            <!-- End of section  4 table -->       
            <tr>
                <td colspan="18" style="padding-top:1em;padding-bottom:0.5em;">
                    <div style="font-size:11px;font-weight:bold; color:#253474"> 
                        5. Autres renseignements :
                    </div>
                    <div style="font-size:11px;">
                        Lors de notre intervention, il vous sera demandé si vous souhaitez conserver les pièces, éléments ou appareils remplacés. <br/><br/>
                        La souscription du présent Contrat d’abonnement vaut acceptation par le Souscripteur, sans restriction ni réserve, des Conditions Générales et Particulières. 
                        Le Souscripteur déclare en avoir pris connaissance avant la souscription du Contrat, fait en 2 exemplaires dont un remis au Souscripteur. 
                    </div>
                </td>
            </tr>
            <!-- <tr>
                <td colspan="18" style="font-size:11px;">
                Accepté électroniquement le&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!w.dateEmission}" /> 
                                </apex:outputText>

                </td>
            </tr>     -->
            <tr style="page-break-inside: avoid;">
                <td colspan="8" style="font-size:11px;">
                    Fait à _____________________________ <br/>
                    Signature du Souscripteur :
                    <br/>
                    <apex:outputPanel rendered="{!idSignature!='null'}">
                            <apex:image id="sig1" url="{!idSignature}" width="150px" />
                    </apex:outputPanel>
                </td>
                <td valign="top" colspan="10" style="font-size:11px;">
                    Le _ _ / _ _ / _ _ _ _  <br/>
                    Signature du Prestataire : 
                </td>
            </tr>               
            <tr>
                <td colspan="18" style="font-size:11px;color:#253474;font-weight:bold;">
                    <div>
                    <br/>
                    Date de visite choisie par le souscripteur :&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!dateVisite}" /> 
                                </apex:outputText> 
                    </div>

                </td>
            </tr> 
            <tr>
                <td colspan="18" style="padding-top:1em;">
                    <div style="page-break-inside: avoid; border-style: solid;
                                border-bottom-style: dotted;
                                border-top-style: dotted;
                                border-bottom-color: #7e7e7e;
                                border-top-color: #7e7e7e;
                                border-right-color: #7e7e7e;
                                border-left-color: #7e7e7e;
                                padding:4px;">
                        <div style="font-size:11px;font-weight:bold; color:#253474;text-align:center;">
                            RENONCIATION EXPRESSE AU DROIT DE RETRACTATION
                        </div>
                        <div style="font-size:11px;font-weight:bold;color:#253474;text-align:center;">
                            Article L221-25 du Code de la consommation
                        </div>
                        <div style="font-size:11px;">
                            Je donne mon accord exprès pour que les prestations prévues au contrat d’entretien chaudière gaz soient exécutées immédiatement et avant la fin du délai 
                            de rétractation de quatorze (14) jours prévu à l’Article L221-18 du Code de la consommation. <br/><br/>
                            Je renonce ainsi, dans les cas où les prestations auraient été pleinement exécutées avant la fin du délai de rétractation, 
                            à mon droit de rétractation qui, en vertu de l’Article L221-28 du même code, ne peut plus être exercé. 
                            Je conserve mon droit de rétractation dans les autres cas conformément à l’Article 8 des Conditions Générales. <br/>
                        </div>
                    <div style="font-size:11px;padding-bottom:0.5em;padding-top:0.5em;"> Date : _ _ / _ _ / _ _ _ _  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature du Souscripteur : </div>
                        <!-- <div style="font-size:11px;padding-bottom:0.5em;padding-top:0.5em;">Accepté électroniquement le&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!w.dateEmission}" /> 
                                </apex:outputText></div> -->
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

        <div style="page-break-after:always;">&nbsp;</div>

    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;font-family:'Arial',sans-serif">
        <tbody>
            <tr style="font-size:13px">
                <td colspan="5" rowspan="2" valign="top">
                    <img src="{!$Resource.LogoEDF}" alt="background image" />
                </td>
                <td colspan="13" valign="top" bgcolor="#253474">
                    <div style="color:white; text-align:center;padding:10px">
                        <b>
                            Contrat d’abonnement pour l’entretien des chaudières à
                            usage domestique
                        </b><br/>
                        utilisant les <b>combustibles gazeux</b>,
                        conforme à la norme NF X 50-010
                    </div>
                </td>
            </tr>
            <tr style="font-size:13px">
                <td colspan="13" valign="top">
                    <div style="font-weight:bold; color:#253474;padding:4px"> 
                        <div style="width:50%;text-align:left;float:left;"> Conditions Particulières </div>
                        <div style="text-align:right;"><u>Exemplaire Prestataire</u></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;font-family:'Arial',sans-serif">
        <tbody>
            <tr  style="font-size:11px">
                <td width="6%" valign="top">
                        Entre
                </td>
                <td  width="38%" valign="top">
                        {!w.agency.Corporate_Name__c}  <br/>  
                        {!w.agency.Street}  <br/> 
                        <!-- {!w.agency.Street2__c}  <br/>  -->
                        {!w.agency.PostalCode} {!w.agency.City} 
                        <br/>
                        <br/>
                        <!-- <br/><br/><br/><br/><br/><br/> -->
                        Tél :  {!w.agency.Phone__c}<br/>
                        Mail : {!w.agency.Email__c}
                        <a href="mailto:cham-ville@groupecham.fr">
                            <!-- cham-ville@groupecham.fr -->
                        </a> <br/>
                        SIRET : {!w.agency.Siret__c} {!w.agency.Siren__c} <br/>
                        TVA : {!w.agency.Intra_Community_VAT__c} <br/>
                    <div style="text-align:right">
                        ci-après désigné <b>“le Prestataire”</b>
                    </div>
                </td>
                <td width="6%" valign="top">
                    et
                </td>
                <td width="50%" valign="top">
                     {!w.payeur.Name} <br/>
                    {!w.payeur.BillingStreet} <br/>
                    <!-- {!w.account.BillingCountry} <br/> -->
                    <span style="display:{!if(w.payeur.Adress_complement__c!=null,"block","none")};">
                        {!w.payeur.Adress_complement__c}<br/>
                    </span>
                    {!w.payeur.BillingPostalCode} {!w.payeur.BillingCity} <br/>
                    <br/>
                    <div style="font-size:11;"> 
                    <br/><br/><br/><br/><br/><br/>
                    Nom du client :  {!w.account.Name} <br/>
                    Tél : {!IF(!isPersonAcc,ConPro.MobilePhone,w.account.PersonMobilePhone)} <br/>
                    Mail : {!IF(!isPersonAcc,ConPro.Email,w.account.PersonEmail)} <br/>
                    N° Client : {!w.account.ClientNumber__c} <br/>
                    N° Contrat : {!w.contractNumber} <br/>
                    N° Equipement : {!w.asset.IDEquipmenta__c} <br/>
                    </div>
                    <div style="text-align:center">
                        ci-après désigné <b>“le Souscripteur”</b>
                    </div>
                </td>
            </tr>
        </tbody>    
    </table>
    <br/>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;table-layout: fixed;font-family:'Arial',sans-serif">
         <tbody>
            <tr style="font-size:10px;">
                <td width="50%" valign="top">
                    Date d’édition :&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!w.dateEmission}" /> 
                                </apex:outputText>
                </td>
                <!-- <td  width="25%" valign="top" style="border:{!if(and(!showAddFacturation,!showAddAppareil),"none","1px solid")};border-right:0px;padding-left: 10px;">
                    <span style="display:{!if(showAddFacturation,"block","none")};">
                    Adresse de facturation :  <br/>
                    {!w.account.Name} <br/>
                    {!w.BillingStreet} <br/>

                    {!w.BillingPostalCode} {!w.BillingCity} <br/>
                    </span>
                </td> -->
                <td  width="50%" valign="top"  style="border:{!if(!showAddAppareil,"none","1px solid")};padding-left: 10px;" >
                    <span style="display:{!if(showAddAppareil,"block","none")};">
                    <b>Adresse de l’appareil :</b> <br/>
                    {!w.logement.Street__c}, {!w.logement.Postal_Code__c} {!w.logement.City__c} <br/>
                    <b>Nom et tél de l’occupant des lieux :</b> <br/>
                    {!w.logement.Inhabitant__r.Name}, {!w.account.PersonMobilePhone}  <br/>
                    </span>
                </td>
            </tr>
         </tbody>
    </table>
    <br/>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;table-layout: fixed;font-family:'Arial',sans-serif">
         <tbody>
            <tr style="font-size:9px">
                <td  width="50%" valign="top">
                    <div style="font-size:11px;font-weight:bold;color:#253474"> 1. Identification de l’appareil : {!w.asset.Equipment_type__c}</div>
                    <br/>
                    <!-- <div style="font-size:9px;font-weight:bold;"> <b>Chaudière</b>  </div> -->
                    <br/><br/>
                    <div style="font-size:8px;font-style:italic;">Le type d’appareil correspond au mode d’amenée d’air
                    comburant et <br/>d’évacuation des produits de combustion au
                    sens du rapport technique FD <br/>CEN/TR 1749 </div>
                </td>
                <td width="25%" valign="top" style="border: 1px solid black;border-right:0px;padding-left: 8px;">
                    Marque : {!w.asset.Brand_auto__c} <br/>
                    Modèle : {!w.asset.Model_auto__c} <br/>
                    Puissance (kW) : {!w.asset.Power_kW_auto__c}<br/>
                    Date de mise en service : {!w.asset.Date_de_premi_re_allumage__c} <br/>
                    Type (mode d’évacuation) : {!w.asset.Ducted_Mode__c} <br/>
                    Type de gaz : {!w.asset.Type_of_gaz__c} <br/>
                    N° de série : {!w.asset.SerialNumber} <br/>
                </td>
                <td width="25%" valign="top" style="border: 1px solid black;padding-left: 8px;">
                    <b>Si brûleur à air soufflé : </b> <br/>
                    Marque : {!w.asset.BurnerBrand__c} <br/>
                    Modèle : {!w.asset.BurnerModel__c} <br/>
                    Puissance (kW) :   {!w.asset.Burner_power_in_kw__c} <br/>
                    Date de mise en service :  {!w.asset.Burner_Installation_date__c}  <br/>
                    Type (mode d’évacuation) : {!w.asset.Ducted_Mode__c}  <br/>
                    Type de gaz : {!w.asset.Type_of_gaz__c}  <br/>
                    N° de série : {!w.asset.SerialNumber}  <br/>
                </td>
            </tr>
            <tr>
                <td colspan="18" valign="top">
                    <!-- <div style="font-size:10px;font-weight:bold;">OU si les infos sur la chaudière ne sont pas connues au moment de l’édition des CP (Cham Digital notamment) : </div> -->
                    <div style="font-size:11px;">Les informations sur l’appareil seront complétées lors de notre première visite et figureront sur le compte-rendu de celle-ci. </div>
                </td>
            </tr>      
            <tr>
                <td colspan="18" style="padding-top:1em;">
                    <div style="font-size:11px;font-weight:bold; color:#253474"> 
                        2. Outre les opérations et prestations prévues dans les Conditions Générales, le présent Contrat inclut lors de l’entretien annuel :
                    </div>
                </td>
            </tr>
         </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;table-layout: fixed;font-family:'Arial',sans-serif">
        <tbody>
            
            <tr> 
                <td width="44%" style="border-top:0.5px solid;border-left:0.5px solid;padding:3px;font-size:9px; ">
                    Un contrôle de la vacuité des systèmes d’amenée d’air et d’évacuation des produits de combustion des chaudières étanches de type C
                </td>
                <td width ="5%" style="border-top:0.5px solid;border-left:0.5px solid;border-right:0.5px solid;padding-left: 5px;font-size:9px; "> Oui </td>
                <td width ="5%" > &nbsp; </td>
                <td width ="33%" style="border-top:0.5px solid;border-left:0.5px solid;padding: 5px;font-size:9px; "> Vérification et purge des radiateurs  </td>
                <td width ="10%" rowspan="2" style="border-top:0.5px solid;border-left:0.5px solid;border-right:0.5px solid;border-bottom:0.5px solid;padding:8px;font-size:9px; "> Si nécessaire pour le contrat Total</td>
            </tr>
            <tr> 
                <td width="44%" style="border-top:0.5px solid;border-left:0.5px solid;border-bottom:0.5px solid;padding: 5px;font-size:9px; ">
                    Entretien des dispositifs externes à la chaudière (ballon, vase d’expansion et régulateur) 
                </td>
                <td width ="5%" style="border-top:0.5px solid;border-left:0.5px solid;border-right:0.5px solid;border-bottom:0.5px solid;padding:3px;font-size:9px; "> Oui </td>
                <td width ="5%"> &nbsp; </td>
                <td width ="33%" style="border-top:0.5px solid;border-left:0.5px solid;border-bottom:0.5px solid;padding: 5px;font-size:9px; "> Détartrage du corps de chauffe et/ou de l’échangeur sanitaire </td>
            </tr>  
        </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px;width:100%;font-family:'Arial',sans-serif">
        <tbody>      
            <tr >
                <td colspan="18" style="padding-top:1em;">
                    <div style="font-size:11px;font-weight:bold; color:#253474"> 
                        3. Conditions d’intervention du Prestataire pour un dépannage éventuel :
                    </div>
                    <div style="font-size:9px; "> 
                        Pour tout dépannage sur appel justifié, intervention les jours ouvrables pendant les heures d’ouverture, sauf cas de force majeure : <br/>
                        . au plus tard 48 heures après appel pour les pannes partielles de chauffage ou pannes d’eau chaude sanitaire,  <br/>
                        . au plus tard 24 heures après appel pour les pannes totales de chauffage (hors période de démarrage des installations de chauffage) <br/>
                    </div>
                </td>
            </tr>        

            <!-- Start of section 4 table -->
            <tr>
                <td colspan="20">
                <table cellspacing="0" cellpadding="0" width="100%" style="text-align:center;font-size:11px;font-family:'Arial',sans-serif;font-size:11px;border-bottom:0.5px solid;border-color:black;">
                    <tbody>
                        <tr >
                            <td colspan="20" style="padding-top:1em;">
                                <div style="font-size:11px;text-align:left;"> 
                                    <span style="color:#253474;font-weight:bold;">4. Prix de l’abonnement annuel : </span> il est fonction du contrat et des prestations retenues par le Souscripteur
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" valign="top" style="border-top:0.5px solid;border-left:0.5px solid;text-align:left;">
                                <div style="font-style:italic;color:#253474;">Choix du Souscripteur :</div><br/>
                                <div style="text-align:bottom;font-weight:bold;color:#253474;">Contrat principal : </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top:0.5px solid;border-left:0.5px solid;">
                                <div align="center" style="font-size:11px;font-weight:bold; color:#253474">
                                    Prix € HT
                                </div>
                            </td>
                            <td rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center" style="font-size:11px;font-weight:bold; color:#253474">
                                    <!-- Remise [Nom remise] de <span style="font-size:7px;">[date début à fin OU X ans]</span> -->
                                    {!nomRemise} {!valable}
                                </div>
                            </td>
                            <td rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div style="font-size:11px;font-weight:bold; color:#253474">
                                    Prix HT après remise
                                </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center" style="font-size:11px;font-weight:bold; color:#253474">
                                    TVA  %
                                </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div style="font-size:11px;font-weight:bold; color:#253474">
                                    <b>Montant € TTC</b>
                                </div>
                            </td>
                            <td width="25%" rowspan="6" valign="top" style="border-left: 0.5px solid; padding-left: 10px;text-align:left;font-size:9px;">
                                <div>
                                    <span style="font-size:9px;font-weight:bold; color:#253474">Durée de l’abonnement</span>
                                    : 1 an à compter de la date de prise d’effet du Contrat <br/><br/>
                                </div>
                                <div>
                                    <span style="font-size:9px;font-weight:bold; color:#253474">Révision de prix </span>
                                    : Le prix pourra être révisé par le Prestataire à la date
                                    anniversaire du Contrat conformément aux dispositions de
                                    l’Article 3 des Conditions Générales
                                </div>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                        <apex:repeat var="a" value="{!lstContractLineItem}">
                        <tr>
                            <td valign="center" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;text-align:left;">
                                <div style="color:#253474;">    
                                        <apex:outputText value="{!a.tech_nom_produit__c}"/>
                                </div>
                            </td>
                            
                            <td  valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <!-- {!ROUND(a.ListPrice, 2)} -->
                                <apex:outputField value="{!a.UnitPrice}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    <!-- {!ROUND(w.discount, 2)}% -->
                                    <apex:outputField value="{!a.Discount}" /> 
                                </div>
                            </td>
                            <!-- <td valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    ___, __
                                </div>
                            </td> -->
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                    <!-- {!ROUND(a.TotalPrice, 2)} -->
                                <apex:outputField value="{!a.TotalPrice}" /> 
                            </td>
                            <td  width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                            <!-- {!w.tax} -->
                                <apex:outputField value="{!currentServiceContract.Tax__c}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                {!ROUND(a.TotalPrice * (1+tax), 2)} €
                                <!-- <apex:outputField value="{!a.TECH_MontantTTC__c}" />  -->
                            </td>
                        </tr>
                        </apex:repeat> 

                        <tr>
                            <td colspan="6" valign="top" style="border-left: 0.5px solid;border-top: 0.5px solid;text-align:left;">
                                <div style="color:#253474;display:{!if(hasOptions,"block","none")};">
                                    <b>Options au Contrat :</b>
                                </div>
                            </td>
                        </tr>
                        <apex:repeat var="a" value="{!lstContractLineItemOptions}">
                        <tr>
                            <td valign="center" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;text-align:left;">
                                <div style="color:#253474;">    
                                        <apex:outputText value="{!a.tech_nom_produit__c}"/>
                                </div>
                            </td>
                            
                            <td  valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <!-- {!ROUND(a.ListPrice, 2)} -->
                                <apex:outputField value="{!a.UnitPrice}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    <!-- {!ROUND(w.discount, 2)}% -->
                                    <apex:outputField value="{!a.Discount}" /> 
                                </div>
                            </td>
                            <!-- <td valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;">
                                <div align="center">
                                    ___, __
                                </div>
                            </td> -->
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                                    <!-- {!ROUND(a.TotalPrice, 2)} -->
                                <apex:outputField value="{!a.TotalPrice}" /> 
                            </td>
                            <td  width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;">
                            <!-- {!w.tax} -->
                                <apex:outputField value="{!currentServiceContract.Tax__c}" /> 
                            </td>
                            <td width="10%" valign="top" style="font-size:10px;border-top: 0.5px solid;border-left: 0.5px solid;border-right: 0.5px solid;">
                                {!ROUND(a.TotalPrice * (1+tax), 2)} €
                                <!-- <apex:outputField value="{!a.TECH_MontantTTC__c}" />  -->
                            </td>
                        </tr>
                         </apex:repeat> 
                        <tr>
                            <td rowspan="2" colspan="5" valign="top" style="border-top: 0.5px solid;font-size:11px;font-weight:bold; " >
                                <div style="color:#253474;" align="right">
                                    <b>Total à régler</b>
                                </div>
                            </td>
                            <td  rowspan="2" valign="top" style="border-top: 0.5px solid;border-left: 0.5px solid;border-right: 0.5px solid;font-size:11px;font-weight:bold;">
                                <div style="color:#253474;" align="center">
                                    <!-- <b>{!ROUND(w.grandTotal, 2)} €</b> -->
                                    <b><apex:outputField value="{!currentServiceContract.GrandTotal}"/></b>
                                </div>
                            </td>
                        </tr>

                        <tr colspan="20"></tr>
                        
                        <tr>
                            <td colspan="8" valign="top" style="font-size:12px;border-top: 0.5px solid;border-left: 0.5px solid;border-right:0.5px solid;">
                                <div align="left">
                                    <span style="font-weight:bold;color:#253474;">Mode de paiement choisi</span> par le Souscripteur :
                                </div>
                                <div style="text-align:center;margin-bottom:10px;">
                                    <apex:image value="{!IF(w.modeDePaiement == 'Prélèvement' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Prélèvement automatique* &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'Virement' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Virement** &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'CB' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Carte bancaire*** &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'Chèque' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Chèque &nbsp;&nbsp;&nbsp;
                                    <apex:image value="{!IF(w.modeDePaiement == 'Espèces' , URLFOR($Resource.VFP06_Check), URLFOR($Resource.VFP06_UnCheck))}" width="10px" /> Espèces****
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="border-left: 0.5px solid;text-align:left;font-size:9px;">
                                * Paiement mensuel : par prélèvement automatique uniquement
                            </td>
                            <td colspan="4" width="40%" style="border-right: 0.5px solid;text-align:left;font-size:9px;">
                                ** Nous contacter
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="border-left: 0.5px solid;text-align:left;font-size:9px;">
                                *** Uniquement en agence ou lors d’une souscription/reconduction de contrat par internet 
                            </td>
                            <td colspan="4" width="40%" style="border-right: 0.5px solid;text-align:left;font-size:9px;">
                                **** Uniquement en agence pour un montant maximum de 1.000 euros
                            </td>
                        </tr>        
                    </tbody>
                </table> 
                </td>
            </tr>
            <!-- End of section  4 table -->       
            <tr>
                <td colspan="18" style="padding-top:1em;padding-bottom:0.5em;">
                    <div style="font-size:11px;font-weight:bold; color:#253474"> 
                        5. Autres renseignements :
                    </div>
                    <div style="font-size:11px;">
                        Lors de notre intervention, il vous sera demandé si vous souhaitez conserver les pièces, éléments ou appareils remplacés. <br/><br/>
                        La souscription du présent Contrat d’abonnement vaut acceptation par le Souscripteur, sans restriction ni réserve, des Conditions Générales et Particulières. 
                        Le Souscripteur déclare en avoir pris connaissance avant la souscription du Contrat, fait en 2 exemplaires dont un remis au Souscripteur. 
                    </div>
                </td>
            </tr>
            <!-- <tr>
                <td colspan="18" style="font-size:11px;">
                Accepté électroniquement le&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!w.dateEmission}" /> 
                                </apex:outputText>

                </td>
            </tr>     -->
            <tr style="page-break-inside: avoid;">
                <td colspan="8" style="font-size:11px;">
                    Fait à _____________________________ <br/>
                    Signature du Souscripteur :
                    <br/>
                    <apex:outputPanel rendered="{!idSignature!='null'}">
                            <apex:image id="sig2" url="{!idSignature}" width="150px" />
                    </apex:outputPanel>
                </td>
                <td valign="top" colspan="10" style="font-size:11px;">
                    Le _ _ / _ _ / _ _ _ _  <br/>
                    Signature du Prestataire : 
                </td>
            </tr>               
            <tr>
                <td colspan="18" style="font-size:11px;color:#253474;font-weight:bold;">
                    <div>
                    <br/>
                    Date de visite choisie par le souscripteur :&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!dateVisite}" /> 
                                </apex:outputText> 
                    </div>

                </td>
            </tr> 
            <tr>
                <td colspan="18" style="padding-top:1em;">
                    <div style="page-break-inside: avoid; border-style: solid;
                                border-bottom-style: dotted;
                                border-top-style: dotted;
                                border-bottom-color: #7e7e7e;
                                border-top-color: #7e7e7e;
                                border-right-color: #7e7e7e;
                                border-left-color: #7e7e7e;
                                padding:4px;">
                        <div style="font-size:11px;font-weight:bold; color:#253474;text-align:center;">
                            RENONCIATION EXPRESSE AU DROIT DE RETRACTATION
                        </div>
                        <div style="font-size:11px;font-weight:bold;color:#253474;text-align:center;">
                            Article L221-25 du Code de la consommation
                        </div>
                        <div style="font-size:11px;">
                            Je donne mon accord exprès pour que les prestations prévues au contrat d’entretien chaudière gaz soient exécutées immédiatement et avant la fin du délai 
                            de rétractation de quatorze (14) jours prévu à l’Article L221-18 du Code de la consommation. <br/><br/>
                            Je renonce ainsi, dans les cas où les prestations auraient été pleinement exécutées avant la fin du délai de rétractation, 
                            à mon droit de rétractation qui, en vertu de l’Article L221-28 du même code, ne peut plus être exercé. 
                            Je conserve mon droit de rétractation dans les autres cas conformément à l’Article 8 des Conditions Générales. <br/>
                        </div>
                    <div style="font-size:11px;padding-bottom:0.5em;padding-top:0.5em;"> Date : _ _ / _ _ / _ _ _ _  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature du Souscripteur : </div>
                        <!-- <div style="font-size:11px;padding-bottom:0.5em;padding-top:0.5em;">Accepté électroniquement le&nbsp;<apex:outputText value="{0,date,dd/MM/yyyy}">
                                    <apex:param value="{!w.dateEmission}" /> 
                                </apex:outputText></div> -->
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</apex:page>