<!--
  @description       : 
  @author            : ZJO
  @group             : 
  @last modified on  : 08-26-2020
  @last modified by  : ZJO
  Modifications Log 
  Ver   Date         Author   Modification
  1.0   08-26-2020   ZJO   Initial Version
-->
<apex:page standardController="ServiceContract" recordSetVar="servicecontracts" showHeader="false" sidebar="false" applyBodyTag="false"
    extensions="VFC72_MassAvisDeRenouvellement" standardStylesheets="false" lightningStylesheets="true">

    <style>
        .hidden {
            display: none;
        }
    </style>

    <apex:pageBlock rendered="{!isEmpty}">
        <apex:facet name="header">
            <a name="back" href="" onclick="window.history.back()">Back</a>
        </apex:facet>

        <apex:pageMessage severity="warning" strength="3" title="Aucun contrat de service sélectioné" summary="Veuillez sélectionner au moins un contrat de service"
        />
    </apex:pageBlock>

    <apex:outputPanel rendered="{!NOT(isEmpty)}">
        <apex:slds />
        <div class="slds-scope">
            <div id="spinner" class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
            <div id="error" class="hidden">
                <apex:form id="form1">
                    <apex:pageBlock id="pb">
                        <apex:facet name="header">
                            <a name="back" href="" onclick="window.history.back()">Back</a>
                        </apex:facet>

                        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                            <span class="slds-assistive-text">error</span>
                            <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small">
                                <svg aria-hidden="true" class="slds-icon">
                                    <use href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#error')}"></use>
                                </svg>
                            </span>
                            <h2 id="errorMsg">An error occured</h2>
                        </div>
                    </apex:pageBlock>
                </apex:form>
            </div>
        </div>
    </apex:outputPanel>

    <script>
        function getPDF() {

            var lst = {!lstId
        };
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.VFC72_MassAvisDeRenouvellement.openPDF}', lst,
            function (result, event) {
                if (event.status) {
                    console.log('result =', result);
                    if (result) {
                        //console.log(window.parent);
                        window.parent.location.href = result;
                    }
                } else if (event.type === 'exception') {
                    console.log('### exception: ' + event.message + '-' + event.where);
                    var spinner = document.getElementById('spinner')
                    spinner.className = 'hidden';
                    var error = document.getElementById('error');
                    error.className = '';
                    var errMsg = document.getElementById('errorMsg');
                    errMsg.innerText = event.message;
                } else {
                    console.log('### error: ' + event.message);
                }
            },
            { escape: true }
        );
        }

        function onLoad() {
            var lst = {!lstId
        };
        if (lst.length > 0) {
            console.log('lst.length = ', lst.length + ' selected lines');
            console.log('lst = ', lst)
            getPDF();
        } else {
            console.log('no selected lines');
        }       
        }

        onLoad();
    </script>


</apex:page>