<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 13-10-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   03-26-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<apex:page standardController="ServiceAppointment" recordSetVar="SA" extensions="VFC76_AvisDePassageEditique">
    <script>
      window.top.location = '/lightning/cmp/c__LC76_ServiceAppointmentCustomListView?c__listView={!listViewName}&c__query={!query}&c__columns={!columns}';
    </script>
</apex:page>