<apex:page showHeader="false" controller="AP71_TestcGoogleAppAuthWithSF" lightningStylesheets="false" standardStylesheets="false" sidebar="false">
      
           
       <style>
            .requiredInput{
              display: inline-block;
            }

            .One
             {
            margin:20px;
            padding:10px;
            width:150px;
            height:100px;
            baclground-color:blue;
            border-radius:20px;
            border:2px solod red;
             }
            .outer
             {
            margin:10px;
            padding:10px;
            width:250px;
            height:500px;
            baclground-color:red;
             }
            .recent
             {
              margin:2px;
              padding:3px;
              width:150px;
              height:10px;
              baclground-color:green;
             }
        </style>
        
        <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection >            
                <apex:outputPanel layout="block">
                    <apex:outputLabel value="Document Items List" />
                    <div class="One">
                        <!--<apex:commandButton styleClass="btn btn-primary" value="Actualiser" action="{!DriveAuth}"/>-->
                    </div>
                </apex:outputPanel>
            </apex:pageBlockSection>
            
            
            <apex:pageBlockTable value="{!FileIdAndNameMapFortheAccount}" var="f">
                	<apex:outputLink value="https://drive.google.com/open?id={!f}" target="_blank">{!FileIdAndNameMapFortheAccount[f]}</apex:outputLink>
            </apex:pageBlockTable>
         </apex:pageBlock>
    </apex:form>
</apex:page>