<!--
  @File Name          : VFP_SyncCustomButton.page
  @Description        : 
  @Author             : AMO
  @Group              : 
  @Last Modified By   : AMO
  @Last Modified On   : 11/10/2019, 14:23:28
  @Modification Log   : 
  Ver       Date            Author                  Modification
  1.0    07/10/2019   AMO     Initial Version
-->
<apex:page standardcontroller="Quote" extensions="VFC_SyncCustomButton" sidebar="false" showHeader="false" lightningStyleSheets="true" showQuickActionVfHeader="false">

    <apex:form >
        <!-- <apex:pageMessages id="showmsg"></apex:pageMessages> -->
        <apex:outputText style="font-weight:900;" value="{!$Label.SyncingAction}" />

        <apex:pageBlock id="pb">
            <apex:commandButton style="font-weight:900;" value="Continue" action="{!continuing}" onclick="showmessage()" rerender="none"/>
        </apex:pageBlock>
   <!-- //script to display msg when continue is clicked. -->
        <label id="msgsync" style="display: none"> Votre synchronisation a demare.  Merci de patienter.</label>

        <apex:pageBlock rendered="{!inserted}">
            <apex:pageMessage severity="warning" strength="3" title="Inserted Successfully"/>
        </apex:pageBlock>

    </apex:form>   

    <script>
    function showmessage(){
        console.log('**ally showmessage');
        document.getElementById("msgsync").style.display="block";

        // if({!inserted}){
        //     document.getElementById("msg").style.display="block";
        // }
        
    }
    </script>
</apex:page>