.THIS {
}
.THIS .white {
    background-color: white;
}
.THIS .slds-page-header__col-title {
    padding-top: 5px;
}
.THIS .bold {
    font-weight: bold;
}
.THIS .slds-datepicker{
    left : 0px !important;
}