.THIS .eqp-tile {
    background: #ffffff;
    box-shadow: 0px 0px 20px #e5e5e5;
    border-radius: 10px;
    padding: 13px;
}

.THIS .no-gutters > .slds-col {
    padding-left: 0;
    padding-right: 0;
}

.THIS .vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.THIS .btn-radius {
    border-radius: 2px;
}

.THIS .btn-border {
    border: 1px solid #006dff;
}

.THIS .border-grey-eqp {
    border-right: 1px solid #9e9e9e;
    margin: 0 1.5rem 0 1.5rem;
}

.THIS .btn-active {
    background-color: #006dff;
    border-color: #006dff;
}

.THIS .page-title {
    color: #005bbb;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.THIS .pastille {
    border-radius: 50%;
    background-color: #e62333;
    height: 2rem;
    width: 2rem;
    position: relative;
    float: right;
    top: -1rem;
    right: -1rem;
}

.THIS .text-error {
    color: #e62333;
}