/* .THIS {
    
} */

/* .THIS .header-element{
    display: inline-grid;
    margin-right: 5px;
    margin-left: 5px;
} */

/* .THIS .table-element{
    table-layout:fixed;
} */

.THIS .flowFooter {
    background-color: #f3f2f2 !important;
}

.THIS .slds-global-header {
    height: 75px;
}



.THIS {
    background-color: #fff;
}

.THIS .color {
    color: blue;
}

.THIS .color2 {
    color:red;
}